body {
    margin: 0;
    color: white;
    background-color: darkblue;
}

h2 {
    margin: 0
}

legend {
    outline: 1px solid;
    border-radius: 1rem;
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #cc6cf2,
    0 0 0.8rem #cc6cf2,
    0 0 2.8rem #cc6cf2,
    inset 0 0 1.3rem #cc6cf2;

    padding:10px;
    background-color: darkblue;
    text-shadow:
        0 0 2px #fff,
        0 0 4px #fff,
        0 0 6px #fff,
        0 0 10px #bc13fe,
        0 0 45px #bc13fe,
        0 0 55px #bc13fe,
        0 0 70px #bc13fe,
        0 0 80px #bc13fe;

}

fieldset {
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    padding: 0.4em;
    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #bc13fe,
        0 0 0.8rem #bc13fe,
        0 0 2.8rem #bc13fe,
        inset 0 0 1.3rem #bc13fe;
}

.container {
    text-align: left;
    padding: 50px;
}

.events {
    margin-top: 20px;
}

legend {
    font-size: 24px;

}

.box {
    display: flex;
    margin: 20px;
}

.box.left {
    padding-left: 10px;

}

.box.left>.event.text {
    position: relative;
    white-space: wrap;
    animation: floatTextLeft 1s;
}

.box.right>.event.text {
    position: relative;
    white-space: wrap;
    animation: floatTextRight 1s;
}

.box.right {
    flex-direction: row-reverse;
    padding-right: 10px;
}

.event {
    width: 50%;

}


fieldset {
    border-radius: 20px;
}

.event.image>img {
    object-fit: cover;
    width: 100%;


}

.event.text {
    margin: 10px;
}

.description {
    font-size: 20px;


}

@-webkit-keyframes floatTextLeft {
    from {
        left: 80%;
    }

    to {
        left: 0%;
    }
}

@-webkit-keyframes floatTextRight {
    from {
        right: 80%;
    }

    to {
        right: 0%;
    }
}



@media screen and (max-width: 600px) {
    .box {
        display: block;
        margin: 0px;
        padding: 0 !important;
    }

    .event {
        width: 100%;
    }

    .event.text {
        margin-left: 0px;
    }

    h2 {
        margin-top: 20px;
    }

}