.topNav {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    background-color: yellow;
    z-index: 2;
    margin-bottom: 100px;
}

.topNav a {
    float: left;
    display: block;
    color: darkblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    height: 20px;

}

.logo-bg {
    width: 240px;
}

.logo {
    padding: 0px !important;
    margin: 0px !important;
    position: absolute;
    z-index: 1;
}

.logo img {
    width: 240px;
    height: 133px;
}


.topNav a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

.topNav a.active {
    background-color: #04AA6D;
    color: white;
}

.topNav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topNav {
        display: block;
    }

    .topNav a:not(:first-child) {
        display: none;
    }

    .topNav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topNav.responsive {
        position: relative;
    }

    .topNav.responsive .logo {
        display: none;
    }

    .topNav.responsive a.icon {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
    }

    .topNav.responsive a {
        float: none;
        display: block;
        text-align: center;
    }
}