body {
  margin: 0;
  background-color: DarkBlue;
}

p {
  font-size: 20px;
  color: DodgerBlue
}

.Subsection {
  border: 1px solid black;
  padding: 100px 100px 100px 100px;
  background-color: white;
}
.tableEdit{
  width: 1000%
  border-collapse: collapse;
  border: 1px solid white;
  text-align: left;
  padding: 100px 100px 100px 300px;
  background-color: DarkBlue;
}

.whiteHeading{
  font-size:20px;
  color:white
}
.whiteSubtext{
  font-size:10px;
  color:white;
  width:10%
}
